.page{

    &__back{
        padding: 4px;
        cursor: pointer;
        margin-right: 16px;
        display: flex;
        align-items: center;
    }
    &__title{
        font-size: 24px;
        font-weight: 500;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__header{
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    &__navigation{
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    &__main-functions{
        margin-left: auto;
    }
    &__content{
    }
}